:root {
    --primary-text-color:#757575;
    --title-text-color:#212121;
    --accent-color:#2196F3;
    --background-color:#F5F4FA;
    --hero-color:#FFFFFF;
    --primary-bg-color:#E5E5E5;
    --background-color-two:#2F303A;
    }
    
    body {
        background-color:var(--hero-color);
        color:var(--primary-text-color);
        font-family:Roboto, Raleway; 
    }
    
    .container {
    margin-left: auto;
    margin-right: auto;
    }
    
    
    /* logo */
    
    .logo {
        color:var(--title-text-color);
        font-family:Raleway, sans-seri;
        font-weight: bold;
        font-size: 26px;
        line-height: 1.19px;
        letter-spacing: 0.03em;
        text-decoration: none
    }
    
    .web {
        color:var(--accent-color);
        font-family: Raleway;
        font-weight: bold;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
    }
    
    .list {
         list-style: none;
         padding: 0%;
         margin: 0%;
    }
    
    
    /* site nav */
    
    .site-nav .list {
        color:var(--primary-text-color);
        font-weight:500;
        font-size: 14px;
        line-height: 1.14;
        text-decoration: none;
    }
    
    .site-nav .link:hover, 
    .site-nav .link:focus,
    .site-nav .list.current {
        color:var(--title-text-color);
        color:var(--accent-color);
    }
    
    
    .link {
        color:var(--title-text-color);
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        text-decoration: none
    }
    
    .contacts-link{
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        color: var(--second-text-color);
    }
    
    .contacts-link:hover,
    .contacts-link:focus{
        color: var(--accent-color);
    } 
    
    
        /* Hero.*/
    
    .hero {
        background-color:var(--background-color-two);
        text-align: center;
        padding-top: 200px;
        padding-bottom: 200px;

    }
    
    .hero-title {
        margin-top: 0%;
        margin-bottom: 30px;
    
        color:var(--hero-color);
        background-color:var();
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        
        letter-spacing: 0.06em;
    }
    
    
    /* section */
    
    .hidden {
        position: absolute;
        white-space: nowrap;
        width: 1px;
        height: 1px;
        overflow: hidden;
        border: 0;
        padding: 0;
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        margin: -1px;
      }
    
    .team {
        background-color:var(--background-color);
    }
    
    
    
    .section-title {
        margin-top: 0;
        margin-bottom: 50;
        color:var(--title-text-color);
    
        font-weight: bold;
        font-size: 36px;
        line-height: 1.16;
        
        letter-spacing: 0.03em;  
    }

    .section-title.centered {
        text-align: center;
    }
    
    
    /* features */

    .container {
        padding-top: 94px;
        padding-bottom: 94px;
    }
    
    .section {
        padding-top: 94px;
        padding-bottom: 94px;
    }

    .section.no-padding {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .feature-list ,title {
        margin-top: 0px;
        margin-bottom: 0px;


        color:var(--title-text-color);    
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        list-style: none;
    }

    .title { 
        margin-bottom: 10px;
        margin-top: 0;

        color:var(--title-text-color);    
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        list-style: none;
    }
    
    .features-text {
        
        margin-top: 0;
        margin-bottom: 0px;

        color: var(--primary-text-color);
        font-weight: normal;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
    }
    
    
    /* Button */
    .button {
        display: inline-block;
        border: 1px solid transparent ;
        padding: 10px 32px;
        border-radius: 4px;
        min-width: 200px;
    
        color: var(--title-text-color);
        background-color: var(--primary-bg-color);
        font-family: Roboto;
        font-weight: bold;
        font-size: 16px;
        line-height: 1.9;
        text-align: center;
        letter-spacing: 0.06em;
        text-align: center;
    }
    
    .button.primary {
        background-color:var(--accent-color);
        color:var(--hero-color);
        cursor: pointer;
        border-radius:4px;
        border-style: none;
        
        
    }
        
    
    .our-team { 
        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
        color: var(--title-text-color);
    }
    
    .team-text{ 
        font-size: 16px;
        line-height: 1.19;
        color: var(--primary-text-color); 
        letter-spacing: 0.03em;
    }
    
    .footer{
        background-color:var(--background-color-two);
    }
    
    .logo-footer {
        color:var(--hero-color);
        font-family:Raleway;
        font-weight: bold;
        font-size: 26px;
        line-height: 1.19px;
        letter-spacing: 0.03em;
        text-decoration: none;
    }
    
    .footer-link-light{
        font-family: 'Raleway';
        font-weight: bold;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        color: var(--primery-title-color);
    }
    
    .contakts-address{
        font-style: inherit; 
    }
    
    .address-link{
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: var(--hero-color);
        background-color: var(--background-color-two);
    }
    
    
    
    /* portfolio */
    
    .visually-hidden {
       
        white-space: nowrap;
        width: 1px;
        height: 1px;
        overflow: hidden;
        border: 0;
        padding: 0;
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        margin: -1px;
    }
    
    .filter-btn{
        font-family: inherit;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.63;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--title-text-color);
        background-color:var(--background-color);
    }
    
    .filter-btn:hover,
    .filter-btn:focus{
        color: var(--primery-title-color);
        background-color: var(--accent-color); 
    }
    
    .list-point {
        list-style: none;
    }
    
    .portfolio-work {
    color: var(--title-text-color);
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    }
    
    .portfolio-text {    
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.03em;
    }