:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196f3;
    --background-color: #f5f4fa;
    --hero-color: #ffffff;
    --primary-bg-color: #e5e5e5;
    --background-color-two: #2f303a;
    --stroke-color: #ececec;
  }
  
  body {
    background-color: var(--hero-color);
    color: var(--primary-text-color);
    font-family: Roboto, Raleway;
  }
  
  /* base style */
  
  .container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }
  
  /* logo */
  
  .logo {
    color: var(--title-text-color);
    font-family: Raleway, sans-seri;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19px;
    letter-spacing: 0.03em;
    text-decoration: none;
    display: block;
    margin-right: 93px;
  }
  
  .web {
    color: var(--accent-color);
    font-family: Raleway;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
  }
  
  .list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  /* main nav */
  
  .main-nav {
    display: flex;
    align-items: center;
  }
  
  /* site nav */
  
  .header-container {
    display: flex;
    align-items: center;
  }
  
  .page-header {
    border: 1px solid var(--stroke-color);
  }
  
  .site-nav {
    display: flex;
    align-items: center;
  }
  
  .site-nav .item {
    margin-right: 50px;
    display: block;
  }
  
  .site-nav .item:last-child {
    margin-right: 0;
  }
  
  .site-nav .item:not(:last-child) {
    margin-right: 50px;
  }
  
  .contacts-list {
    margin-left: auto;
    display: flex;
    
    
  }
  
  .contacts-list .contacts-item:not(:last-child) {
    margin-right: 50px;
  }
  
  .contacts-list .contacts-item {
    display: block;
  }
  
  .item-link {
    display: flex;
  
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
    padding-top: 32px;
    padding-bottom: 32px;
  }
  
  .site-nav .item-link:hover,
  .site-nav .item-link:focus,
  .site-nav .item-link.current {
    color: var(--title-text-color);
    color: var(--accent-color);
  }
  
  .contacts-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: var(--second-text-color);
    padding-top: 32px;
    padding-bottom: 32px;
    text-decoration: none;
    
  }
  
  .contacts-link:hover,
  .contacts-link:focus {
    color: var(--accent-color);
  }
  
  /* Hero.*/
  
  .hero {
    background-color: var(--background-color-two);
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
  }
  
  .hero-title {
    margin-top: 0%;
    margin-bottom: 30px;
  
    color: var(--hero-color);
    background-color: var();
    font-weight: 900px;
    font-size: 44px;
    line-height: 1.36;
  
    letter-spacing: 0.06em;
  }
  
  /* section */
  
  .hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }
  
  .team {
    background-color: var(--background-color);
  }
  
  .section-title {
    margin-top: 0;
    margin-bottom: 30px;
    color: var(--title-text-color);
  
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
  
    letter-spacing: 0.03em;
  }
  
  .section-title.centered {
    text-align: center;
  }
  
  /* features */
  
  .section {
    margin: 0 auto;
    padding-top: 94px;
    padding-bottom: 94px;
  }
  
  .section.no-padding {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .section.padding-bottom {
    padding-bottom: 94px;
  }
  
  .feature-list {
    display: flex;
    padding: 0;
  }
  
  .feature-list .item {
    width: 270px;
    margin: 0 auto;
    margin-left: 0;
  }
  
  .item:not(:last-child) {
    margin-right: 30px;
  }
  
  .feature-list,
  title {
    margin: 0;
    color: var(--title-text-color);
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    list-style: none;
  }
  
  .title {
    margin-bottom: 10px;
    margin-top: 0;
  
    color: var(--title-text-color);
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    list-style: none;
  }
  
  .features-text {
    margin-top: 0px;
    margin-bottom: 0px;
  
    color: var(--primary-text-color);
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
  .info-list,
  .team-list {
    margin-left: -30px;
  }
  .info-item,
  .team-photo {
    margin-top: 30px;
    margin-left: 30px;
  }
  .info-item-img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  .team-photo {
    flex-wrap: wrap;
    width: 270px;
  
    background: #ffffff;
    box-shadow: 0px 1px 3px rgb(0, 0, 0, 0.12), 0px 1px 1px rgb(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
  }
  
  /* Button */
  .button {
    display: inline-block;
    border: 1px solid transparent;
    padding: 10px 32px;
    border-radius: 4px;
    min-width: 200px;
  
    color: var(--title-text-color);
    background-color: var(--primary-bg-color);
    font-family: Roboto;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.9;
    text-align: center;
    letter-spacing: 0.06em;
  }
  
  .button.primary {
    background-color: var(--accent-color);
    color: var(--hero-color);
    cursor: pointer;
    border-radius: 4px;
    border-style: none;
  }
  
  .our-team {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    color: var(--title-text-color);
    margin-bottom: 0;
  }
  
  .team-text {
    font-size: 16px;
    line-height: 1.19;
    color: var(--primary-text-color);
    letter-spacing: 0.03em;
    margin-bottom: 25px;
  }
  
  .our-team,
  .team-text {
    text-align: center;
  }
  
  /* display: flex;
          align-items: center;
  
          margin-left: 215px;  
          margin-right: 215px;  
          width: 1200px;
          padding-left: 15px;
          padding-right: 15px;
              margin: 0 auto;  */
  
  .footer-item {
    display: flex;
  
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 94px;
    padding-bottom: 94px;
  }
  
  .footer {
    background-color: var(--background-color-two);
    padding-top: 60px;
    padding-bottom: 60px;
  }
  
  .logo-footer {
    width: 145px;
    margin-right: 0;
    margin-bottom: 20px;
    display: block;
  
    color: var(--hero-color);
    font-family: Raleway;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19px;
    letter-spacing: 0.03em;
    text-decoration: none;
  }
  
  .footer-link-light {
    font-family: "Raleway";
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--primery-title-color);
  }
  
  .contakts-address {
    font-style: inherit;
  }
  
  .contakts-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .contakts-item {
    margin-bottom: 9px;
  }
  .contakts-item:last-child {
    margin-bottom: 0;
  }
  
  .address-link {
    margin-bottom: 9px;
  
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--hero-color);
    background-color: var(--background-color-two);
    text-decoration: none;
  }
  
  /* .address-link:not(:last-child) {  */
  /* margin-bottom: 9px;  */
  
  /* portfolio */
  
  .filter-list {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
  }
  
  .filter-item:not(:last-child) {
    margin-right: 8px;
  }
  
  .filter-btn {
    border-radius: 4px;
    border-color: transparent;
    min-height: 38px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    background-color: var(--background-color);
  }
  
  .filter-btn:hover,
  .filter-btn:focus,
  .filter-btn.active {
    color: var(--hero-color);
    background-color: var(--accent-color);
  }
  
  .list-point {
    list-style: none;
  }
  
  /*  */
  
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    margin-left: -30px;
    padding: 0;
    list-style: none;
  }
   
   

  .flex-element {
    margin-bottom: 30px;
    margin-left: 30px;
    width: calc(100% / 3 - 30px);
  }

  .flex-element .img {
    width: 100%;
  }
  
  .box-title {
    padding: 20px 16px;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
  }
  
  .visually-hidden {
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }
  
  .portfolio-work {
    margin-bottom: 4px;
    margin-top: 0;
  
    color: var(--title-text-color);
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
  }
  
  .portfolio-text {
    margin-bottom: 0;
  
    font-family: Raleway, sans-seri;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.03em;
  }